.new-arrivals-promo {

    position: relative;
    margin-top: 0.5rem;

    @include lg {
        margin-top: 0;
    }

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        left: 5%;
        top: 15%;
        font-size: 9vw;
        font-weight: $font-weight-bold;

        @include sm {
            font-size: $font-size-45;
            top: 35%;
        }

        @include md {
            top: 40%;
        }

        @include lg {
            font-size: 1.7rem;
            top: 35%;
        }

        @include xl {
            font-size: $font-size-35;
        }
        
        @include xxl {
            font-size: $font-size-35;
        }

        @include xxxl {
            font-size: $font-size-45;
            top: 30%;
        }
    }

    span {
        display: block;
    }

    > .button-theme-dark {
        position: absolute;
        left: 5%;
        top: 65%;
        font-size: 3vw;
        padding: 4vw 8vw;

        @include sm {
            top: 75%;
            font-size: $font-size-16;
            padding: 15px 45px;
        }

        @include md {
            padding: 20px 50px;
        }

        @include lg {
            top: 75%;
            padding: 10px 25px;
        }

        @include xl {
            top: 80%;
        }

        @include xxl {
            padding: 15px 35px;
        }

        @include xxxl {
            top: 70%;
            padding: 20px 50px;
        }

        .button-theme-left,
        .button-theme-right {
            position: absolute;
            height: 15px;
            width: 15px;

            @include xxl {
                height: 20px;
                width: 20px;
            }
        }
    
        .button-theme-left {
            top: 7px;
            left: 7px;
            border-left: 2px solid white;
            border-top: 2px solid white;
        }
    
        .button-theme-right {
            bottom: 7px;
            right: 7px;
            border-right: 2px solid white;
            border-bottom: 2px solid white;
        }
    }
}