//FLEX

.flex {display: flex;}

.c-end {justify-content: end;}
.c-center {justify-content: center;}
.c-start {justify-content: start;}
.c-between {justify-content: space-between;}
.c-evenly {justify-content: space-evenly;}

//GRID

.grid {display: grid;}


// CONTAINERS

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include sm {
        max-width: $breakpoint-sm-max-width;
    }
    @include md {
        max-width: $breakpoint-md-max-width;
    }
    @include lg {
        max-width: $breakpoint-lg-max-width;
    }
    @include xl {
        max-width: $breakpoint-xl-max-width;
    }
    @include xxl {
        max-width: $breakpoint-xxl-max-width;
    }
    @include xxxl {
        max-width: $breakpoint-xxxl-max-width;
    }

}

.container-small {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include sm {
        max-width: $breakpoint-sm-max-width;
    }
    @include md {
        max-width: $breakpoint-md-max-width;
    }
    @include lg {
        max-width: $breakpoint-lg-max-width;
    }
    @include xl {
        max-width: $breakpoint-xl-max-width;
    }
}

// Buttons

.button-theme {
    position: relative;
    text-align: center;
    padding: 20px 50px;
    color: white;
    background-color: $color-theme-red;
    font-weight: $font-weight-semibold;

    .button-theme-left,
    .button-theme-right {
        position: absolute;
        height: 20px;
        width: 20px;
    }

    .button-theme-left {
        top: 10px;
        left: 10px;
        border-left: 2px solid white;
        border-top: 2px solid white;
    }

    .button-theme-right {
        bottom: 10px;
        right: 10px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
}

.button-theme-dark {
    position: relative;
    text-align: center;
    padding: 20px 50px;
    color: white;
    background-color: $color-dark-10;
    font-weight: $font-weight-semibold;

    .button-theme-left,
    .button-theme-right {
        position: absolute;
        height: 20px;
        width: 20px;
    }

    .button-theme-left {
        top: 10px;
        left: 10px;
        border-left: 2px solid white;
        border-top: 2px solid white;
    }

    .button-theme-right {
        bottom: 10px;
        right: 10px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
}

.button-theme-light {
    position: relative;
    text-align: center;
    padding: 20px 50px;
    color: $color-dark-10;
    background-color: white;
    font-weight: $font-weight-semibold;
    
    .button-theme-left,
    .button-theme-right {
        position: absolute;
        height: 20px;
        width: 20px;
    }

    .button-theme-left {
        top: 10px;
        left: 10px;
        border-left: 2px solid $color-dark-10;
        border-top: 2px solid $color-dark-10;
    }

    .button-theme-right {
        bottom: 10px;
        right: 10px;
        border-right: 2px solid $color-dark-10;
        border-bottom: 2px solid $color-dark-10;
    }
}

// Category-box

.category-box {
            

    .category-box-content {
        position: relative;
        height: 65%;
        background-color: $color-off-white;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: $color-gray-30;

            .content-menu {
                opacity: 100;
            }

            .button-theme-category-box {
                opacity: 100;
            }
        }   

        .content-menu {
            position: absolute;
            right: 5%;
            top: 1%;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transition: 0.2s ease-in-out;

            a:hover {
                i {
                    background-color: $color-dark-20;
                    color: white;
                }

            }

            i {
                background-color: white;
                color: $color-dark-20;
                border-radius: 50%;
                padding: 0.6rem;
                margin-top: 0.7rem;
                font-size: $font-size-16;
                transition: 0.2s ease-in-out;
            }
        }

    }

    .category-box-text {
        padding-top: 0.5rem;
        text-align: center;

        > p {
            font-size: 0.7rem;
            font-weight: $font-weight-medium;
            margin: 0;
            color: $color-gray-50;

            @include md {
                font-size: $font-size-13;
            }
        }

        h1 {
            font-size: $font-size-14;
            font-weight: $font-weight-semibold;
            margin: 0.3rem 0;
            color: $color-dark-10;

            @include md {
                font-size: $font-size-16;
            }
        }

        > i {
            color: $color-theme-red;
        }

        .price {
            margin-top: 0.2rem;
            align-items: center;

            > .original-price {
                font-size: $font-size-14;
                margin-right: 0.5rem;

                @include md {
                    font-size: $font-size-16;
                }
            }
            
            > .new-price {
                font-size: $font-size-16;

                @include md {
                    font-size: $font-size-18;
                }
            }
        }
    }

    .button-theme-category-box {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
        text-align: center;
        padding: 15px 0;
        color: white;
        background-color: $color-theme-red;
        font-weight: $font-weight-semibold;
        opacity: 0;
        transition: 0.2s ease-in-out;
    
        .button-theme-left,
        .button-theme-right {
            position: absolute;
            height: 20px;
            width: 20px;
        }
    
        .button-theme-left {
            top: 10px;
            left: 10px;
            border-left: 2px solid white;
            border-top: 2px solid white;
        }
    
        .button-theme-right {
            bottom: 10px;
            right: 10px;
            border-right: 2px solid white;
            border-bottom: 2px solid white;
        }
    }
}

.category-box-flexed {
    

    .category-box-flexed-content {
        position: relative;
        width: 50%;
        height: 100%;
        background-color: $color-off-white;

        &:hover {

            .category-box-flexed-content-menu {
                opacity: 100;
            }

            .button-theme-category-box-flexed {
                opacity: 100;
            }
        }

        .category-box-flexed-content-menu {
            position: absolute;
            right: 5%;
            top: 1%;
            display: flex;
            flex-direction: row;
            transition: 0.2s ease-in-out;
            opacity: 0;

            a:hover {
                i {
                    background-color: $color-dark-20;
                    color: white;
                }

            }

            i {
                background-color: white;
                color: $color-dark-20;
                border-radius: 50%;
                padding: 0.5rem;
                margin-top: 0.5rem;
                margin-left: 0.3rem;
                font-size: $font-size-16;
                transition: 0.2s ease-in-out;
            }
        }

        .button-theme-category-box-flexed {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30%;
            text-align: center;
            padding: 8px 0;
            color: white;
            background-color: $color-theme-red;
            font-weight: $font-weight-semibold;
            opacity: 0;
            transition: 0.2s ease-in-out;
        
            .button-theme-left,
            .button-theme-right {
                position: absolute;
                height: 15px;
                width: 15px;
            }
        
            .button-theme-left {
                top: 5px;
                left: 5px;
                border-left: 2px solid white;
                border-top: 2px solid white;
            }
        
            .button-theme-right {
                bottom: 5px;
                right: 5px;
                border-right: 2px solid white;
                border-bottom: 2px solid white;
            }
        }
    }

    .category-box-flexed-text {
        padding-top: 0rem;
        margin-left: 1rem;

        > p {
            font-size: $font-size-13;
            font-weight: $font-weight-medium;
            margin: 0;
            color: $color-gray-50;

            @include md {
                font-size: $font-size-13;
            }
        }

        h1 {
            font-size: $font-size-16;
            font-weight: $font-weight-semibold;
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
            color: $color-dark-10;

            @include md {
                font-size: $font-size-16;
            }
        }

        > i {
            color: $color-theme-red;
        }

        .price {
            margin-top: 0.2rem;
            align-items: center;

            > .original-price {
                font-size: $font-size-14;
                margin-right: 0rem;

                @include md {
                    font-size: $font-size-16;
                }
            }
            
            > .new-price {
                font-size: $font-size-16;

                @include md {
                    font-size: $font-size-18;
                }
            }
        }
    }
}

// Prices

.original-price {
    font-size: $font-size-16;
    font-weight: $font-weight-semibold;
    text-decoration: line-through;
    color: $color-gray-50;
    margin: 0;
}

.new-price {
    font-size: $font-size-18;
    font-weight: $font-weight-semibold;
    color: $color-dark-10;
    margin: 0;
}