.showcase {
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-color: $color-gray-10;

    @include sm {
        padding-bottom: 0rem;
    }

    @include lg {
        padding-top: 0rem;
    }

    > .container {
        align-items: center;
        text-align: center;

        .img-left {
            display: none;
            width: 33%;

            @include sm {
                display: inline;
            }

            @include xxxl {
                width: 100%;
                margin-left: -120px;
            }
        }

        .img-right {
            display: none;
            width: 33%;

            @include sm {
                display: inline;
            }

            @include xxxl {
                width: 100%;
                margin-right: -120px;
            }
        }
        
        .showcase-text {
            text-align: center;
            padding-bottom: 1rem;
            
            h1{
                margin: 0;
                font-size: $font-size-35;
                font-weight: $font-weight-extra-bold;

                @include sm {
                    font-size: 1.75rem;
                }

                @include md {
                    font-size: $font-size-35;
                }

                @include lg {
                    font-size: $font-size-45;
                }

                @include xl {
                    font-size: 3.5rem;
                }

                @include xxl {
                    font-size: $font-size-65;
                }

                span {
                    display: block;
                }
            }

            p {
                font-size: $font-size-13;
                width:  max-content;
                text-align: center;
                font-weight: $font-weight-regular;
                margin-bottom: 2rem;
                margin-top: 1rem;

                @include sm {
                    width: 10rem;
                    margin-bottom: 1rem;
                    margin-top: 0.5rem;
                    font-size: 0.7rem;
                }

                @include md {
                    font-size: $font-size-13;
                    width: 16rem;
                    margin-bottom: 2rem;
                }

                @include lg {
                    font-size: $font-size-16;
                    width: 17rem;
                }

                @include xl {
                    width: max-content;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                }

                @include xl {
                    font-size: $font-size-20;
                }
            }

            .button-theme {
                position: relative;
                text-align: center;
                padding: 10px 25px;
                color: white;
                background-color: $color-theme-red;
                font-weight: $font-weight-semibold;

                @include sm {
                    padding: 5px 15px;
                }

                @include md {
                    padding: 10px 25px;
                }

                @include lg {
                    padding: 15px 35px;
                }

                @include xl {
                    padding: 20px 50px;
                }
            
                .button-theme-left,
                .button-theme-right {
                    position: absolute;
                    height: 15px;
                    width: 15px;

                    @include sm {
                        height: 10px;
                        width: 10px;
                    }

                    @include md {
                        height: 15px;
                        width: 15px;
                    }

                    @include xl {
                        height: 20px;
                        width: 20px;
                    }
                }
            
                .button-theme-left {
                    top: 7px;
                    left: 7px;
                    border-left: 2px solid white;
                    border-top: 2px solid white;

                    @include sm {
                        top: 5px;
                        left: 5px;
                    }

                    @include md {
                        top: 7px;
                        left: 7px;
                    }

                    @include lg {
                        top: 10px;
                        left: 10px;
                    }
                }
            
                .button-theme-right {
                    bottom: 7px;
                    right: 7px;
                    border-right: 2px solid white;
                    border-bottom: 2px solid white;

                    @include sm {
                        bottom: 5px;
                        right: 5px;
                    }

                    @include md {
                        bottom: 7px;
                        right: 7px;
                    }

                    @include lg {
                        bottom: 10px;
                        right: 10px;
                    }
                }
            }
        }
    }
}
