.navbar-middle-links {

    display: none;
    margin-left: 6rem;
    

    @include lg{
        display: inline;
    }

    a {
        margin: 0 1rem;
        color: $color-dark-20;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $color-theme-red;
        }
    }
} 